# APP INFO
NEXT_PUBLIC_APP_URL="https://arjunmenon.dev"

# CONTACT FORM
RESEND_API_KEY="re_123456789_placeholder_key"
CONTACT_EMAIL_TO="hello@arjunmenon.dev"

# ANALYTICS (Optional)
NEXT_PUBLIC_GOOGLE_ANALYTICS="G-XXXXXXXXXX"
